@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: rgba(27, 27, 27, 7) !important;
}

body {
  background-color: rgba(27, 27, 27, 7);
}

.bg-image {
  background-image: url("image.webp");
}

.animate-opacity {
  animation-name: na;
  animation-duration: 1500ms;
}

@keyframes na {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@layer components {
  .space {
    @apply py-[2px] pl-40 max-sm:pl-5;
  }
}
