@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  background-color: black !important;
}

body {
  background-color: rgb(8 9 15) !important;
}

.bg-image {
  background-image: url("../assets/herobg1.webp");
}

.shadow-input {
  box-shadow: 0 0.2px 0px 0 white;
}

.animate-opacity {
  animation-name: na;
  animation-duration: 700ms;
}

@keyframes na {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.parent {
  perspective: 1000px;
}

.perspective {
  perspective: 700px;
  perspective-origin: right;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: rotate3d(-0.7, 10, 0, -18deg);
  box-shadow: #3c565b 10px 3px 17px 0px;
}

.content-box {
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.content-box .card-title {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.card-title {
  transform: translate3d(0px, 0px, 60px);
}

.card-content {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #d4af37;
  background: linear-gradient(-90deg, #d4af37 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #d4af37 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#D4AF37";
  background: linear-gradient(90.13deg, #d4af37 1.9%, #003a4d 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #d4af37 1.9%, #003a4d 97.5%);
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg-frame {
  position: relative;
  width: 455px;
  height: 455px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  /* animation: change-view 2s ease-in infinite; */
  align-items: center;
}

@keyframes change-view {
  0%,
  50% {
    transform: rotate(-0deg) skew(0deg) translateX(calc(0 * var(--i)))
      translateY(calc(-0px * var(--i)));
  }
  70%,
  100% {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
      translateY(calc(-35px * var(--i)));
  }
}

.svg {
  position: absolute;
  transition: 0.5s;
  transform-origin: center;
  width: 450px;
  height: 450px;
  fill: none;
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
    translateY(calc(-35px * var(--i)));
  /* animation: change-view 7s ease-in-out infinite alternate; */
  filter: drop-shadow(0 0 12px #00aaff);
}

#big-centro,
#outter1,
#solo-lines,
#center,
#outter-center,
#bottom-dots,
#center-lines,
#squares,
#top-dots {
  transform-origin: center;
  animation: rotate 5s ease-in-out infinite alternate;
}

#big-centro {
  animation-delay: -1.5s;
}

#outter1 {
  animation-delay: -1.2s;
}

#center {
  animation-delay: -2.2s;
}

#bottom-dots,
#top-dots {
  animation-duration: 7s;
}

#center-lines,
#outter-center {
  animation-duration: 6s;
  animation-delay: -3s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
