@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: rgba(27, 27, 27, 7) !important;
}

body {
  background-color: rgb(26, 26, 26);
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%) */
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: transparent;
  height: 30px !important;
}

::-webkit-scrollbar-thumb {
  background-color: 
}

.bg-image {
  background-image: url("https://images.unsplash.com/photo-1508197149814-0cc02e8b7f74?q=80&w=3390&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.shadow-text {
  text-shadow: 0px 0px 25px black;
}

.animate-opacity {
  animation-name: na;
  animation-duration: 1500ms;
}

@keyframes na {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer components {
  .space {
    @apply py-[2px] pl-40 max-sm:pl-[14vw] max-xsm:pl-5;
  }
}

.parent {
  min-width: 300px;
  width: fit-content;
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: rotate3d(-1.2, 10, 0, -15deg);
  box-shadow: #3c565b 10px 3px 10px 0px;
}

.content-box {
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.content-box .card-title {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.card-title {
  transform: translate3d(0px, 0px, 60px);
}

.card-content {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}
